@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
}

/* Custom utility for Oswald font */
.font-custom {
	font-family: "Cedarville Cursive", cursive;
}
