@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
    overflow-y: hidden;
}

/* Custom utility for Oswald font */
.font-custom {
    font-family: "Cedarville Cursive", cursive;
}

.scrollbar-dark::-webkit-scrollbar {
    width: 12px;
    height: 50px;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border: 2px solid #1f2937;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
}

.scrollbar-dark::-webkit-scrollbar-track {
    background-color: #1f2937;
}
